<footer>
	<p class="footerText">Made by {% if site.your_link %}<a href="{{ site.your_link }}">{% endif %}{{ site.your_name }}{%
			if site.your_link %}</a>{% endif %}{% if site.your_city %} in {{ site.your_city }}{% endif %}</p>
	<div class="footerIcons">

		{% if site.facebook_username %}
		<a href="https://facebook.com/{{ site.facebook_username }}">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-facebook fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}

		{% if site.twitter_username %}
		<a href="https://twitter.com/{{ site.twitter_username }}">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}

		{% if site.github_username %}
		<a href="https://github.com/{{ site.github_username }}">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-github fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}

		{% if site.email_address %}
		<a href="mailto:{{ site.email_address }}">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}

	</div>
</footer>
